RewriteEngine On

<FilesMatch "^(composer.json|composer.lock|.env|.env.dev|.gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]