{% extends "./dashboard/layout.html" %}

{% block body %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">İstifadəçi məlumatları</div>
                    <div class="card-body">
                        <div class="form-group">
                            <h5>İstifadəçi ID</h5>
                            <p>{{ info.id }}</p>
                        </div>
                        <div class="form-group">
                            <h5>İstifadəçi adı</h5>
                            <p>{{ info.username }}</p>
                        </div>
                        <div class="form-group">
                            <h5>Email</h5>
                            <p>{{ info.email }}</p>
                        </div>
                        <div class="form-group">
                            <h5>Heart</h5>
                            <p>{{ info.heart }} <i class="fa fa-heart"></i></p>
                        </div>
                        <div class="form-group">
                            <h5>Balans</h5>
                            <p>{{ info.balance }} <i class="fa fa-rub"></i></p>
                        </div>
                        <div class="form-group">
                            <h5>Qeydiyyat tarixi</h5>
                            <p>{{ info.register_time|date("d.m.Y H:i") }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="page-header mt-0">
                    <h1 class="page-title">Ümumi statistikalar</h1>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ totalGameCount }}</div>
                                <div class="text-muted"><b style="color: #495057;">Oyun</b> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ totalWinGameCount }}</div>
                                <div class="text-muted"><b style="color: #495057;">Qazanma</b> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ totalLoseGameCount }}</div>
                                <div class="text-muted"><b style="color: #495057;">Uduzma</b> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ totalSumEarn }} <i class="fa fa-rub"></i></div>
                                <div class="text-muted"><b style="color: #495057;">Qazanılan</b> məbləğ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ totalSumWithdraw }} <i class="fa fa-rub"></i></div>
                                <div class="text-muted"><b style="color: #495057;">Çıxarılan</b> məbləğ</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header mt-0">
                    <h1 class="page-title">Günlük statistikalar</h1>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ todayGameCount }}</div>
                                <div class="text-muted"><b style="color: #495057;">Oyun</b> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ todayWinGameCount }}</div>
                                <div class="text-muted"><b style="color: #495057;">Qazanma</b> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ todayLoseGameCount }}</div>
                                <div class="text-muted"><b style="color: #495057;">Uduzma</b> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ todaySumEarn }} <i class="fa fa-rub"></i></div>
                                <div class="text-muted"><b style="color: #495057;">Qazanılan</b> məbləğ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">{{ todaySumWithdraw }} <i class="fa fa-rub"></i></div>
                                <div class="text-muted"><b style="color: #495057;">Çıxarılan</b> məbləğ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}