{% extends "./dashboard/layout.html" %}

{% block body %}
<div class="my-3 my-md-5">
    <div class="container">
        {% for message in flash.success %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in flash.danger %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% for message in flash.info %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ödəniş metodları</h3>
            </div>
            <div class="card-body">
                <div class="col-md-6 offset-3">
                    <form action="" method="POST">
                        {% for item in methods %}
                            <h4>{{ item.method == 1 ? 'Yandex Money' : (item.method == 2 ? 'Payeer' : (item.method == 3 ? 'Webmoney' : 'Unknown')) }}</h4>
                            <div class="form-group">
                                <label for="min_withdraw_{{ item.method }}">Minimum çıxarış məbləği</label>
                                <div class="input-group">
                                    <input id="min_withdraw_{{ item.method }}" type="number" name="min_withdraw[{{ item.method }}]" value="{{ item.min_withdraw }}" step="any" required class="form-control" aria-describedby="rub-addon">
                                    <span class="input-group-append" id="rub-addon">
                                        <span class="input-group-text">
                                            <i class="fa fa-rub"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="commission_{{ item.method }}">Komissiya</label>
                                <div class="input-group">
                                    <input id="commission_{{ item.method }}" type="number" name="commission[{{ item.method }}]" value="{{ item.commission }}" step="any" required class="form-control" aria-describedby="rub-addon">
                                    <span class="input-group-append" id="rub-addon">
                                        <span class="input-group-text"><strong>%</strong></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label">Status</div>
                                <div class="custom-switches-stacked">
                                    <label class="custom-switch">
                                        <input type="checkbox" name="status[{{ item.method }}]" value="1" class="custom-switch-input" {{ item.status == 1 ? 'checked="checked"' : null }}>
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Deaktiv/Aktiv</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label">Auto Payment</div>
                                <div class="custom-switches-stacked">
                                    <label class="custom-switch">
                                        <input type="checkbox" name="auto_payment[{{ item.method }}]" value="1" class="custom-switch-input" {{ item.auto_payment == 1 ? 'checked="checked"' : null }}>
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Deaktiv/Aktiv</span>
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" name="methods[]" value="{{ item.method }}">
                            <hr>
                        {% endfor %}
                        <button type="submit" name="save" class="btn btn-primary w-100">Yadda saxla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}