{% extends "./dashboard/layout.html" %}

{% block body %}
    {% if session.login %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">43</div>
                                <div class="text-muted"><b style="color: #495057;">Ümumi istifadəçi</b><br> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">43</div>
                                <div class="text-muted"><b style="color: #495057;">Günlük qeydiyyat</b><br> sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">43RUB</div>
                                <div class="text-muted"><b style="color: #495057;">Ümumi çıxarılan</b><br> məbləğ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">43RUB</div>
                                <div class="text-muted"><b style="color: #495057;">Günlük çıxarılan</b><br> məbləğ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">43</div>
                                <div class="text-muted"><b style="color: #495057;">Ödənilən</b><br> pul çıxarma sayı</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0">43</div>
                                <div class="text-muted"><b style="color: #495057;">Gözləyən</b><br> pul çıxarma sayı</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="page">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-login mx-auto">
                            <form class="card" action="" method="post">
                                <div class="card-body p-6">
                                    <div class="card-title">Admin Panel Giriş</div>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control" placeholder="İstifadəçi adı">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="pass" class="form-control" placeholder="Şifrə">
                                    </div>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary btn-block">Giriş et</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}