{% extends "./dashboard/layout.html" %}

{% block body %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="w-50">
                    <h3 class="card-title">Oyun levelləri</h3>
                </div>
                <div class="w-50 text-right">
                    <a href="{{ path_for('dashboard.levels.add') }}" class="btn btn-sm btn-primary">Əlavə et</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th class="w-1">No.</th>
                            <th>Level</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in levels %}    
                            <tr>
                                <td><span class="text-muted">{{ item.id }}</span></td>
                                <td>{{ item.level }}</td>
                                <td>
                                    <a class="icon" href="{{ path_for('dashboard.levels.edit', {id: item.id}) }}" title="Editlə">
                                        <i class="fe fe-edit"></i>
                                    </a>
                                    <a class="icon" onclick='if(confirm("Silmək istədiyinizə əminsiniz?")) { window.location.href="{{ path_for('dashboard.levels.delete', {id: item.id}) }}" }' href="javascript:void(0);" title="Sil">
                                        <i class="fe fe-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ pagination|raw }}
        </div>
    </div>
</div>
{% endblock %}