{% extends "./site/layout.html" %}

{% block body %}
    <div id="content">
        <div class="container">
            <h3 class="text-center mt-4 mb-4"><span style="color: #00B518;display: block;">{{ totalSumWithdraw|number_format(2, '.', ',') }} {{ __('site/withdraw.rub') }}.</span> {{ __('site/withdraw.withdraw') }}</h3>
            <div class="card mb-5 withdraws">
                <div class="card-header">{{ __('site/withdraw.title') }}</div>
                <div class="card-body">
                    <div class="withdraw-list">
                        {% for item in withdraws %}    
                            <div class="list-item">
                                <div class="list-col">{{ item.id }}</div>
                                <div class="list-col">
                                    <span>{{ item.payment_method == 1 ? __('site/withdraw.yandex') : (item.payment_method == 2 ? 'Payeer' : (item.payment_method == 3 ? 'Webmoney' : 'Unknown')) }}</span>
                                    <small>{{ item.wallet_number|strMask(-4, 'right') }}</small>
                                </div>
                                <div class="list-col">{{ __('site/withdraw.paid') }}</div>
                                <div class="list-col">{{ item.amount }} {{ __('site/withdraw.rub') }}.</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% for message in flash.danger %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            <div class="card register mb-5">
                {% if isPost() and flash.danger|length == 0 %}
                    <div class="text-center pt-5 pb-5">
                        <h5 style="color: #00B518;" class="mb-4">{{ __('site/register.success_title') }}</h5>
                        <h5>{{ __('site/register.success_text') }}</h5>
                        <a href="https://play.google.com/store/apps/details?id=com.myruble">
                            <img width="200" src="{{ publicPath('site/img/google-play.png') }}" alt="google play">
                        </a>
                    </div>
                {% else %}
                    <div class="card-header">{{ __('site/register.title') }}‎</div>
                    <div class="card-body text-center">
                        <a href="{{ path_for('register', {locale: locale}) }}" class="btn btn-primary d-inline-block">{{ __('site/register.btn') }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}