<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="{{ path_for('dashboard') }}">
                <h2 class="mb-0">{{ getEnv('APP_NAME') }}</h2>
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="avatar"></span>
                        <span class="ml-2 d-none d-lg-block">
                            <span class="text-default">{{ getEnv('APP_NAME') }}</span>
                            <small class="text-muted d-block mt-1">Administrator</small>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{{ path_for('dashboard.logout') }}">
                            <i class="dropdown-icon fe fe-log-out"></i> Çıxış et
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto"></div>
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="{{ path_for('dashboard') }}" class="nav-link"><i class="fe fe-home"></i> Ana səhifə</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('dashboard.users') }}" class="nav-link"><i class="fe fe-users"></i> İstifadəçilər</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-box"></i>
                            Pul çıxarışları</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="{{ path_for('dashboard.withdraws') }}" class="dropdown-item ">Hamısı <b style="color: #495057;">({{ headerWithdraws.all }})</b></a>
                            <a href="{{ path_for('dashboard.withdraws') }}?status=0" class="dropdown-item ">Gözləyənlər <b style="color: #495057;">({{ headerWithdraws.waiting }})</b></a>
                            <a href="{{ path_for('dashboard.withdraws') }}?status=1" class="dropdown-item ">Ödənilənlər <b style="color: #495057;">({{ headerWithdraws.paid }})</b></a>
                            <a href="{{ path_for('dashboard.withdraws') }}?status=2" class="dropdown-item ">Ödənilməyənlər <b style="color: #495057;">({{ headerWithdraws.not_paid }})</b></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-more-horizontal"></i>
                            Digər</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="{{ path_for('dashboard.levels') }}" class="dropdown-item ">Oyun levelləri</a>
                            <a href="{{ path_for('dashboard.withdraws.payment_methods') }}" class="dropdown-item ">Ödəniş metodları</a>
                            <a href="{{ path_for('dashboard.prizeref') }}" class="dropdown-item ">Referal prizləri</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>